body{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color:whitesmoke;
}

.logo{ 
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height:  90px;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width:  992px;
    padding: 0 auto;
}
.navmenu{
    display:flex;
    padding: 0 40px;
list-style: none;    
}

.navlink{
    text-decoration: none;
     
}


.header{
    position: fixed;
    background-color: black;
    text-align:left;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
}
.nav-item{
    font-size: 18px;
    margin: 0 10px;
    line-height:   90px;
}
.nav-menu-link{
    padding: 8px 12px;
    transition: 0.5s;
}
.nav-menu-link:hover{
    background-color: blue;
    border-radius: 10px;
}

aside {
    position: fixed;
    background-color: #cccccc;
    top: 90px;
    left: 0;
    bottom: 20px;
    width: 20%;
}
section {
    overflow-y: scroll;
    position: fixed;
    background-color: white;
    top: 80px;
    left: 20%;
    bottom: 20px;
    width: 80%; 
    
}
footer{
    position: fixed;
    background-color: black;
    color: white;
    text-align:center;
    height: 20px;
    left: 0;
    bottom: 0;
    width: 100%; 
}

p{
    color : white;
}
nav a:hover{
    background-color: #000000;
    color: white;
}

tbody tr:nth-child(odd){
    background-color:#000000;
    color: white;
}

tbody tr:nth-child(even){
    background-color: #ffffff;
    color: black;
}

thead tr{
    background-color:#000000;
    color: white;
}

.aviso {
    color: red;
}